.navbar{
    box-shadow: none;
}

landing-page{
    width: 100%;
    height: 100%;
}

footer > ul li{
    float: left;
    list-style: none;
    padding:10px
}

footer > ul li a:hover{
    color: #7342A1;
}
footer > ul li a{
    color: #828282;
    font-weight: bold
}