.navbar{
    box-shadow: none;
}

landing-page{
    width: 100%;
    height: 100%;
}

footer > ul{
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

footer > ul li{
    float: left;
    padding:10px;
}

footer > ul li a:hover{
    color: #7342A1;
}
footer > ul li a{
    color: #828282;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

@media only screen and (max-width:768px){
    footer > ul li{
        float: inherit;
        padding:10px;
    }
}